16- productsStore/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">


<xs:element name="products">
<xs:complexType>
<xs:sequence>
<xs:element name="product" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ProductID" type="xs:string"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Category" type="xs:string"/>
<xs:element name="Price" type="xs:decimal"/>
<xs:element name="Quantity" type="xs:integer"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>


<!-- ensure ProductID uniqueness -->
<xs:unique name="uniqueProductID">
<xs:selector xpath="product"/>
<xs:field xpath="ProductID"/>
</xs:unique>
</xs:element>


</xs:schema>